--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (6bc9ef8)
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: neon_auth; Type: SCHEMA; Schema: -; Owner: neondb_owner
--

CREATE SCHEMA neon_auth;


ALTER SCHEMA neon_auth OWNER TO neondb_owner;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: users_sync; Type: TABLE; Schema: neon_auth; Owner: neondb_owner
--

CREATE TABLE neon_auth.users_sync (
    raw_json jsonb NOT NULL,
    id text GENERATED ALWAYS AS ((raw_json ->> 'id'::text)) STORED NOT NULL,
    name text GENERATED ALWAYS AS ((raw_json ->> 'display_name'::text)) STORED,
    email text GENERATED ALWAYS AS ((raw_json ->> 'primary_email'::text)) STORED,
    created_at timestamp with time zone GENERATED ALWAYS AS (to_timestamp((trunc((((raw_json ->> 'signed_up_at_millis'::text))::bigint)::double precision) / (1000)::double precision))) STORED,
    updated_at timestamp with time zone,
    deleted_at timestamp with time zone
);


ALTER TABLE neon_auth.users_sync OWNER TO neondb_owner;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO neondb_owner;

--
-- Name: blog_posts; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.blog_posts (
    id text NOT NULL,
    title text NOT NULL,
    slug text NOT NULL,
    excerpt text,
    content text NOT NULL,
    "featuredImage" text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    "authorId" text,
    category text,
    "isFeatured" boolean DEFAULT false NOT NULL,
    "metaDescription" text,
    "metaKeywords" text,
    "metaTitle" text,
    "ogDescription" text,
    "ogImage" text,
    "ogTitle" text,
    "order" integer DEFAULT 0 NOT NULL,
    "publishedAt" timestamp(3) without time zone,
    status text DEFAULT 'draft'::text NOT NULL,
    tags text,
    "twitterDescription" text,
    "twitterImage" text,
    "twitterTitle" text
);


ALTER TABLE public.blog_posts OWNER TO neondb_owner;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.categories (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    description text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.categories OWNER TO neondb_owner;

--
-- Name: contacts; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.contacts (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    phone text,
    subject text NOT NULL,
    message text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.contacts OWNER TO neondb_owner;

--
-- Name: destinos; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.destinos (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    description text,
    image_url text,
    country text NOT NULL,
    continent text NOT NULL,
    highlights text,
    status text DEFAULT 'draft'::text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    banner_title text,
    content text,
    city1_description text,
    city1_image text,
    city1_title text,
    city2_description text,
    city2_image text,
    city2_title text,
    city3_description text,
    city3_image text,
    city3_title text,
    city4_description text,
    city4_image text,
    city4_title text,
    city_description text,
    city_title text
);


ALTER TABLE public.destinos OWNER TO neondb_owner;

--
-- Name: faq_groups; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.faq_groups (
    id text NOT NULL,
    title text NOT NULL,
    slug text NOT NULL,
    description text,
    image_url text,
    "order" integer DEFAULT 0 NOT NULL,
    status text DEFAULT 'draft'::text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    "sectionTitle" text
);


ALTER TABLE public.faq_groups OWNER TO neondb_owner;

--
-- Name: faq_questions; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.faq_questions (
    id text NOT NULL,
    question text NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    status text DEFAULT 'draft'::text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    "groupId" text NOT NULL,
    link text NOT NULL,
    "videoUrl" text,
    "authorId" text,
    content text,
    imageurl text,
    metadescription text,
    ogdescription text
);


ALTER TABLE public.faq_questions OWNER TO neondb_owner;

--
-- Name: historias; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.historias (
    id text NOT NULL,
    title text NOT NULL,
    slug text NOT NULL,
    content text NOT NULL,
    image_url text,
    author_name text NOT NULL,
    country text NOT NULL,
    status text DEFAULT 'draft'::text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.historias OWNER TO neondb_owner;

--
-- Name: leads; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.leads (
    id text NOT NULL,
    email text NOT NULL,
    name text,
    phone text,
    source text DEFAULT 'newsletter'::text NOT NULL,
    status text DEFAULT 'new'::text NOT NULL,
    notes text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.leads OWNER TO neondb_owner;

--
-- Name: pages; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.pages (
    id text NOT NULL,
    title text NOT NULL,
    slug text NOT NULL,
    content text NOT NULL,
    excerpt text,
    "metaTitle" text,
    "metaDescription" text,
    "metaKeywords" text,
    "ogTitle" text,
    "ogDescription" text,
    "ogImage" text,
    "twitterTitle" text,
    "twitterDescription" text,
    "twitterImage" text,
    "featuredImage" text,
    "order" integer DEFAULT 0 NOT NULL,
    status text DEFAULT 'draft'::text NOT NULL,
    "isHomepage" boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    "publishedAt" timestamp(3) without time zone,
    "authorId" text
);


ALTER TABLE public.pages OWNER TO neondb_owner;

--
-- Name: team_members; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.team_members (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    "position" text NOT NULL,
    bio text,
    image_url text,
    email text,
    linkedin text,
    "order" integer DEFAULT 0 NOT NULL,
    status text DEFAULT 'draft'::text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.team_members OWNER TO neondb_owner;

--
-- Name: users; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.users (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    role text DEFAULT 'user'::text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO neondb_owner;

--
-- Name: vistos; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.vistos (
    id text NOT NULL,
    title text NOT NULL,
    slug text NOT NULL,
    description text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    country text NOT NULL,
    image_url text,
    status text DEFAULT 'draft'::text NOT NULL,
    visto_type text NOT NULL,
    content text,
    excerpt text,
    "authorId" text,
    "metaDescription" text,
    "metaKeywords" text,
    "metaTitle" text,
    "ogDescription" text,
    "ogImage" text,
    "ogTitle" text,
    "twitterDescription" text,
    "twitterImage" text,
    "twitterTitle" text,
    "bannerTitle" text,
    "city1Description" text,
    "city1Image" text,
    "city1Title" text,
    "city2Description" text,
    "city2Image" text,
    "city2Title" text,
    "city3Description" text,
    "city3Image" text,
    "city3Title" text,
    "city4Description" text,
    "city4Image" text,
    "city4Title" text,
    "cityDescription" text,
    "cityTitle" text,
    "videoUrl" text,
    "cityEnabled" boolean DEFAULT false NOT NULL,
    "faq1Answer" text,
    "faq1Question" text,
    "faq2Answer" text,
    "faq2Question" text,
    "faq3Answer" text,
    "faq3Question" text,
    "faq4Answer" text,
    "faq4Question" text,
    "faq5Answer" text,
    "faq5Question" text,
    "faq6Answer" text,
    "faq6Question" text,
    "faqDescription" text,
    "faqEnabled" boolean DEFAULT false NOT NULL,
    "faqTitle" text,
    "beneficio1Description" text,
    "beneficio1Icon" text,
    "beneficio1Title" text,
    "beneficio2Description" text,
    "beneficio2Icon" text,
    "beneficio2Title" text,
    "beneficio3Description" text,
    "beneficio3Icon" text,
    "beneficio3Title" text,
    "beneficiosEnabled" boolean DEFAULT false NOT NULL,
    "bannerButtonText" text,
    "bannerButtonUrl" text,
    "bannerDescription" text,
    "bannerEnabled" boolean DEFAULT false NOT NULL,
    "ctaButtonText" text,
    "ctaButtonUrl" text,
    "ctaDescription" text,
    "ctaTitle" text,
    "diferenciaisDescription" text,
    "diferenciaisEnabled" boolean DEFAULT false NOT NULL,
    "diferenciaisTitle" text,
    "diferencial1Description" text,
    "diferencial1Image" text,
    "diferencial1Title" text,
    "diferencial2Description" text,
    "diferencial2Image" text,
    "diferencial2Title" text,
    "diferencial3Description" text,
    "diferencial3Image" text,
    "diferencial3Title" text,
    "diferencial4Description" text,
    "diferencial4Image" text,
    "diferencial4Title" text,
    "requisito1Description" text,
    "requisito1Icon" text,
    "requisito1Title" text,
    "requisito2Description" text,
    "requisito2Icon" text,
    "requisito2Title" text,
    "requisito3Description" text,
    "requisito3Icon" text,
    "requisito3Title" text,
    "requisito4Description" text,
    "requisito4Icon" text,
    "requisito4Title" text,
    "requisitosDescription" text,
    "requisitosEnabled" boolean DEFAULT false NOT NULL,
    "requisitosTitle" text,
    "requisitosBreadcrumb" text,
    "requisitosButtonText" text,
    "requisitosButtonUrl" text,
    "requisito5Description" text,
    "requisito5Icon" text,
    "requisito5Title" text,
    "requisito6Description" text,
    "requisito6Icon" text,
    "requisito6Title" text,
    "requisito7Description" text,
    "requisito7Icon" text,
    "requisito7Title" text,
    "requisito8Description" text,
    "requisito8Icon" text,
    "requisito8Title" text
);


ALTER TABLE public.vistos OWNER TO neondb_owner;

--
-- Data for Name: users_sync; Type: TABLE DATA; Schema: neon_auth; Owner: neondb_owner
--

COPY neon_auth.users_sync (raw_json, updated_at, deleted_at) FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: blog_posts; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.categories (id, name, slug, description, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: contacts; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.contacts (id, name, email, phone, subject, message, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: destinos; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: faq_groups; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: faq_questions; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: historias; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: leads; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: pages; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: team_members; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.team_members (id, name, slug, "position", bio, image_url, email, linkedin, "order", status, created_at, updated_at) FROM stdin;
490515bb-a56c-4c1c-b76c-6a7e76904169	teste 2	teste-2	teste 2	 123123	https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?w=800&h=600&fit=crop&crop=faces	teste2@hayhyve.com	https://www.linkedin.com/in/rafael-dias-869754103/	2	published	2025-10-03 18:41:37.712	2025-10-03 18:41:37.712
977210e7-6df8-4416-8d32-5c0415d15ac0	Testea	teste-123	Desenvolvedor	Teste bio	\N	teste@teste.com	\N	1	published	2025-10-03 18:40:51.39	2025-10-09 23:37:45.006
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: vistos; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Name: users_sync users_sync_pkey; Type: CONSTRAINT; Schema: neon_auth; Owner: neondb_owner
--

ALTER TABLE ONLY neon_auth.users_sync
    ADD CONSTRAINT users_sync_pkey PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: blog_posts blog_posts_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.blog_posts
    ADD CONSTRAINT blog_posts_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: contacts contacts_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.contacts
    ADD CONSTRAINT contacts_pkey PRIMARY KEY (id);


--
-- Name: destinos destinos_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.destinos
    ADD CONSTRAINT destinos_pkey PRIMARY KEY (id);


--
-- Name: faq_groups faq_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.faq_groups
    ADD CONSTRAINT faq_groups_pkey PRIMARY KEY (id);


--
-- Name: faq_questions faq_questions_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.faq_questions
    ADD CONSTRAINT faq_questions_pkey PRIMARY KEY (id);


--
-- Name: historias historias_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.historias
    ADD CONSTRAINT historias_pkey PRIMARY KEY (id);


--
-- Name: leads leads_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT leads_pkey PRIMARY KEY (id);


--
-- Name: pages pages_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.pages
    ADD CONSTRAINT pages_pkey PRIMARY KEY (id);


--
-- Name: team_members team_members_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.team_members
    ADD CONSTRAINT team_members_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vistos vistos_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.vistos
    ADD CONSTRAINT vistos_pkey PRIMARY KEY (id);


--
-- Name: users_sync_deleted_at_idx; Type: INDEX; Schema: neon_auth; Owner: neondb_owner
--

CREATE INDEX users_sync_deleted_at_idx ON neon_auth.users_sync USING btree (deleted_at);


--
-- Name: blog_posts_slug_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX blog_posts_slug_key ON public.blog_posts USING btree (slug);


--
-- Name: categories_name_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX categories_name_key ON public.categories USING btree (name);


--
-- Name: categories_slug_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX categories_slug_key ON public.categories USING btree (slug);


--
-- Name: destinos_slug_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX destinos_slug_key ON public.destinos USING btree (slug);


--
-- Name: faq_groups_slug_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX faq_groups_slug_key ON public.faq_groups USING btree (slug);


--
-- Name: historias_slug_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX historias_slug_key ON public.historias USING btree (slug);


--
-- Name: leads_email_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX leads_email_key ON public.leads USING btree (email);


--
-- Name: pages_slug_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX pages_slug_key ON public.pages USING btree (slug);


--
-- Name: team_members_slug_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX team_members_slug_key ON public.team_members USING btree (slug);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: vistos_slug_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX vistos_slug_key ON public.vistos USING btree (slug);


--
-- Name: faq_questions faq_questions_groupId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.faq_questions
    ADD CONSTRAINT "faq_questions_groupId_fkey" FOREIGN KEY ("groupId") REFERENCES public.faq_groups(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO neon_superuser WITH GRANT OPTION;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON TABLES TO neon_superuser WITH GRANT OPTION;


--
-- PostgreSQL database dump complete
--

